// Fonts
$font-proximanova       : "proximanova";
$roboto                 : "Roboto";
$raleway                 : "raleway";


$pn_light  			: 'proxima_novalight';
$pn_normal 			: 'proxima_novaregular';
$pn_semi  			: 'Conv_ProximaNova-Semibold';
$pn_bold  			: 'proxima_nova_rgbold';
$pn_ebold  			: 'Conv_Proxima_Nova_Extrabold';
$pn_black  			: 'proxima_novablack';