// Viewports
$desktop_xxl	:	1600px;
$desktop_xl		:	1440px;
$laptop			:	1366px;
$desktop		:	1200px;
$desktopSmall	:	1024px;
$tablet			:	992px;
$tabletSmall	:	768px;
$mobileBig		:	767px;
$mobileMed		:	600px;
$mobile			:	480px;
$mobileSmall	:	375px;
